.prouducts{
    padding: 80px 0;
    background:rgb(244, 244, 244);
}
.prouducts .headig-products {
    padding: 64px 0;
} 
.prouducts .container-products{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}